<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Selenium Web Driver Task" parallel = "classes" thread-count="4">

    <parameter name="browser" value="${browser}"/>
    <test name="Test Services through Chrome">
        <packages>
            <package name="com.epam.test.*"/>
        </packages>
    </test>

<!--    <parameter name="EnterWebDriver" value="edge"/>-->
<!--    <test name="Test Services through Edge">-->
<!--        <packages>-->
<!--            <package name="com.epam.test.*"/>-->
<!--        </packages>-->
<!--    </test>-->

</suite>